.nav{
    height: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(51,51,51);
    display: flex;
    align-items: baseline;
    /* justify-items: flex-end; */
}
.nav-title{
    /* text-align: left; */
    justify-items: flex-start;
    font-size: 25px;
    color: whitesmoke ;
    margin: 20px;
}
.nav-links{
    background-color: transparent;
    list-style: none;
    /* justify-items: flex-end; */
    color: gray;
    display: flex;
}
a{
    margin: 5px;
    padding: 10px;
    /* text-align: left; */
    color:darkgrey; 
    background-color: transparent;
    list-style: none;
    justify-items: flex-end;
    text-decoration: none;
}
.btn{
    width: 90px;
    height: 25px;
    color: white;
    background-color: rgb(52,162,184);
    font-size: 15px;
    font-weight:lighter;
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 3px 3px black;
}